const resizeOps = () => {
    document.documentElement.style.setProperty("--vh", window.innerHeight * 0.01 + "px");
  };

  resizeOps();
  window.addEventListener("resize", resizeOps);

  html, body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  .modal {
    width: 50vw;
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
  }
body {
    background-image: url("mosque.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

.container {
    background: transparent;
    max-width: 80%;
    margin: auto;
    border: 3px solid rgb(197, 177, 44);
    border-radius: 10px;
}

h1 {
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    color: aliceblue;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

#reset-button{
    background-color: blueviolet;
    
}
p{
    color: antiquewhite;
}
#intro {
  color: rgb(162, 183, 223)
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
